<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= t('view.index.title') %></title>
    <%= favicon_link_tag '/assets/favicon.ico' %>

    <!-- Nav Bar CSS -->
    <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "one-page-wonder.min", :media => "all" %>

    <!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "bootstrap.bundle.min" %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0"><%= t('view.index.heading') %></h1>
          <h2 class="masthead-heading mb-0"><%= t('view.index.sub_heading') %></h2>
          <a href="#main" class="btn btn-primary btn-xl rounded-pill mt-5"><%= t('view.index.learn_more') %></a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section id="main">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/assets/01.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4"><%= t('view.index.content_heading_1') %></h2>
              <p><%= t('view.index.content_1') %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/assets/02.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4"><%= t('view.index.content_heading_2') %></h2>
              <p><%= t('view.index.content_2') %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/assets/03.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4"><%= t('view.index.content_heading_3') %></h2>
              <p><%= t('view.index.content_3') %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; GovTech 2018</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>

  <script>
    $(document).ready(function(){
      $("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
            window.location.hash = hash;
          });
        }
      });
    });
  </script>
</html>
